:root {
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
  --dairy: #fcfcfc;
  --iris: #4d5ae5;
  --green: #31d0aa;
  --light-slate: #8e8f99;
  --navy-blue: #2e2f42;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --ocean: #404bbf;
  --white: #fff;
  --slate: #434455;
}

/**
  |============================
  | Base styles
  |============================
*/
body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background: var(--white);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.placement-in-a-line {
  display: flex;
  flex-direction: row;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.section {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

input {
  font-family: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*
=========================================
      Header
=========================================
*/
.header {
  position: sticky;
  top: 0;
  background-color: var(--white);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.top-line {
  display: flex;
  height: 72px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e7e9fc;
}

.nav {
  align-items: center;
}

.logo {
  width: 115px;
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.logo-studio {
  color: var(--navy-blue);
}

.navigation-box {
  gap: 40px;
}

.text-link {
  display: block;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-link:hover,
.text-link:focus {
  color: var(--ocean);
}

.text-link.current {
  color: var(--ocean);
}

.text-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--ocean);
}

.text-link .contacts {
  font-style: normal;
}

.contacts {
  font-style: normal;
}

.contact-box {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-box:hover,
.contact-box:focus {
  color: var(--ocean);
}

/* Main
=============================================
   1. Effective Solutions for Your Business
=============================================
*/
.title-background-box {
  max-width: 1440px;
  margin: 0 auto;
  padding: 188px 0;
  background: var(--navy-blue);
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/main-images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title-box {
  width: 1358px;
  padding: 188px auto;
}

.main-title {
  max-width: 496px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
}

.main-button {
  display: block;
  min-width: 169px;
  height: 56px;
  margin-right: auto;
  margin-left: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  border: none;
  background-color: var(--iris);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover,
.main-button:focus {
  background-color: var(--ocean);
  cursor: pointer;
}

/* 
=============================================
   2. Advantages
=============================================
*/
.main-advantages-section {
  padding: 120px 0;
}

.advantages-gap {
  gap: 24px;
}

.icon-box {
  display: flex;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
  align-items: center;
  justify-content: center;
  background-color: var(--cloud);
  border-radius: 4px;
  margin-bottom: 8px;
}

.advantages-card {
  width: calc((100% - 72px) / 4);
}

.advantages-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.advantages-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/* 
=============================================
   3. What are we doing
=============================================
*/
.main-opportunities-section {
  padding-bottom: 120px;
}

.opportunities-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}

/* 
=============================================
   4. Our Team
=============================================
*/
.main-section-team {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--cloud);
}

.card {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  background-color: var(--white);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.description-card {
  padding: 32px 0;
}

.card-name {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
}

.card-text {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--slate);
}

.social-team-card {
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.social-card-item {
  width: 40px;
  height: 40px;
}

.link-team-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: var(--cloud);
  background-color: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-team-icons:hover,
.link-team-icons:focus {
  background-color: var(--ocean);
}

.icon {
  fill: var(--cloud);
}

/**
  |============================
  | 5. Customers
  |============================
*/

.customers {
  padding: 120px 0;
}

.customers-list {
  gap: 24px;
}

.customers-link-list {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light-slate);
  fill: var(--light-slate);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  fill: var(--ocean);
  color: var(--ocean);
  border-color: var(--ocean);
}
/* 
=============================================
   Portfolio
=============================================
*/
.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.filter-button-box {
  margin-bottom: 72px;
  gap: 24px;
  justify-content: center;
}

.portfolio-button {
  display: block;
  padding: 12px 24px 12px 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);
  background-color: var(--cloud);
  border-radius: 4px;
  border: 1px solid var(--cornflower);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--white);
  background-color: var(--ocean);
  cursor: pointer;
  border: 1px solid transparent;

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-cards {
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.card-of-project {
}

.project-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.parents-img-project {
  position: relative;
  overflow: hidden;
}

.project-link:hover .project-text,
.project-link:focus .project-text {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}

.project-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px 32px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  background: var(--iris);
}

.card-of-project:hover .project-text,
.card-of-project:focus .project-text {
  transform: translateY(0);
}

.description-project-card {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

.filter-button-box {
}
.card-project-name {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.card-project-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/* 
=============================================
   Footer
=============================================
*/
.footer-box {
  padding: 100px 0;
}

.footer-container {
  align-items: baseline;
}

.footer-logo-box {
  margin-right: 120px;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.logo-studio-footer {
  color: var(--cloud);
}

.footer-box {
  background: var(--navy-blue);
}

.paragraf-box {
  width: 264px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
}

.social-title {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
}

.social-footer-links {
  display: flex;
  gap: 16px;
  flex-shrink: 0;
  align-self: flex-end;
}

.social-footer-links .link-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  fill: var(--cloud);
  background-color: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icons:hover,
.link-icons:focus {
  background-color: var(--green);
}

.footer-subscribe {
  margin-left: 80px;
  gap: 24px;
}

.subscribe-imput {
  min-width: 264px;
  min-height: 40px;
  margin-top: 16px;
  padding: 8px 16px;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid var(--white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--white);
  background-color: var(--navy-blue);
}

.subscribe-imput::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;

  color: var(--white);
  background-color: var(--navy-blue);
}

.subscribe-button {
  display: flex;
  margin-top: 26px;
  padding: 8px 24px;
  gap: 16px;
  max-height: 40px;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  fill: var(--white);
  background-color: var(--iris);
}

/**
  |============================
  | Modal window
  |============================
*/

.data-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  background: var(--dairy);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.data-modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.data-modal-close:hover,
.data-modal-close:focus {
  background-color: var(--ocean);
  border: none;
  fill: var(--white);
}

.icon-modal {
  scale: 3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-modal:hover,
.icon-modal:focus {
  fill: var(--white);
  fill: #ffffff;
}

.form-title {
  margin-bottom: 16px;
  color: var(--navy-blue);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.form-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-subtitle {
  display: flex;
  flex-direction: column;
  color: var(--light-slate);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.form-imput {
  margin-top: 4px;
  width: 360px;
  height: 36px;
  border-radius: 4px;
  border: 1px solid var(--navy-blue-modal);
}

.form-textarea {
  resize: none;
  margin-top: 4px;
  padding: 8px 16px;
  width: 360px;
  height: 102px;
  border-radius: 4px;
  border: 1px solid var(--navy-blue-modal);
}

.form-textarea::placeholder {
  color: var(--navy-blue-modal);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.form-accept-box {
  margin: 8px 0 24px 0;
  padding: 0;
}

.form-accept {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border-radius: 2px;
  border: 1px solid var(--navy-blue-modal);
}

.form-text-accept {
  margin: 0;
  padding: 0;

  color: var(--light-slate);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.04em;
}

.form-button {
  padding: 16px 64px;
  align-self: center;

  color: var(--white);
  background-color: var(--iris);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.form-button:disabled {
  background-color: lightgray;
  cursor: not-allowed;
}
